/*stylesheet for exercise 2*/
table { margin: 0 auto;}

table,
td {
    font-family: verdana;
    font-size: 1em;
    padding: 5 5;
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid black;
    border-color: lightgray;
}

caption {
    border: none;
    padding: 5px;
    background-color: lightgray;
    font-size: 1.25em;
    font-weight: bold;
}

th {
    padding: 20px;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

td {
    text-align: right;
}

td:first-child {
    font-weight: bold;
}

td:nth-child(2) {
    text-align: left;
    padding-right: 65;
}