/*css typography*/

@import url(https://fonts.googleapis.com/css?family=Lusitana|Wendy+One) html,
body {
    font-size: 62.5%;
    font-family: Lusitana, sans-serif;
    font-weight: 300;
}

body {
    color: darkslategrey;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Wendy One, serif;
    font-weight: normal;
    color: darkslategrey;
}

h1,
.h1 {
    font-size: 4.8rem;
    line-height: 5.2rem;
    margin: 1rem auto 1.5rem auto;
}

h2,
.h2 {
    font-size: 4rem;
    line-height: 4.8rem;
    margin: 1rem auto 1.25rem auto;
}

h3,
.h3 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin: 1rem auto 1rem auto;
}

h4,
.h4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 1rem auto 1rem auto;
}

h5,
.h5 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    display: inline-block;
}

p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0;
}

b,
strong {
    font-weight: 800;
    color: #222222;
}

ul,
li {
    font-size: 1rem;
    line-height: 1.4rem;
    list-style: none;
}